__pycache__
*.bak
*.html
*.zip
split/*
tmp/*
imgs/
input/*
ocr/extract.xml
report.html
report-2025-04-Abril.html
report-2025-05-Maio.html
report-2025-06-Junho.html
report-2025-07-Julho.html
report-edit-2025-04-Abril.html
report-edit-2025-05-Maio.html
report-edit-2025-06-Junho.html
report-edit-2025-07-Julho.html
