{% extends "base.html.j2" %}
{% from "_row.html.j2" import render_row %}

{% block title %}Relatório de Prestação de Contas - {{ periodo }}{% endblock %}

{% block header_title %}Relatório de Prestação de Contas - {{ periodo }}{% endblock %}

{% block header_buttons %}
  {% if edit_link %}
    <a href="{{ edit_link }}" target="_blank" class="btn-edit">Editar Relatório</a>
  {% endif %}
{% endblock %}

{% block table_body %}
  {% for row in rows %}
    {{ render_row(row, loop.index0, attrs) }}
  {% endfor %}
{% endblock %} 